*.un~
*.swp
Makefile
Makefile.in
configure
install-sh
missing
aclocal.m4
config.log
config.status
depcomp
autom4te.cache
.dirstamp
.deps
.sconsign*
src/*.o
src/gtpush
*.a
docs/html
TAGS
gtpush
pushtest-devel
config.h
*.scan
*.log
config.h
config.h.in
compile
core
*.svn
*.o
